html {
  font-family: Roboto, sans-serif;
}

.body {
  margin: 0;
}

.card {
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  width: 200px;
  box-sizing: border-box;
  padding: 32px 16px 16px;
}

.botton {
  flex-wrap: nowrap;
  padding: 36px 16px 16px;
}

// #region picture
.picture {
  display: block;
  padding-left: 19px;
  padding-right: 19px;
  padding-top: 32px;
}

.card__image {
  width: 160px;
  height: 134px;
  display: block;
  margin: 0 auto 40px;
}

// endregion

// #region text
.text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.text--name {
  color: #060b35;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
}

.text--code {
  font-weight: 400;
  padding-top: 4px;
  justify-content: flex-start;
  margin-right: auto;
  font-size: 10px;
  line-height: 14px;
  color: #616070;
}

.text--price {
  padding-bottom: 16px;
  height: 18px;
  padding-top: 24px;
  place-content: center space-between;
}

.text--price--text {
  font-weight: 400;
  line-height: 18px;
  font-size: 12px;
  color: #616070;
}

.text--price--number {
  font-weight: 700;
  line-height: 18px;
  font-size: 16px;
}

// endregion

// #region reviews
.reviews {
  display: flex;
  justify-content: space-between;
  height: 16px;
  width: 166px;
  padding-top: 16px;
}

.text--reviews {
  font-weight: 400;
  line-height: 14px;
  color: #060b35;
  padding-left: 17px;
  font-size: 10px;
}

// endregion

// #region button
.button {
  display: flex;
  height: 40px;
}

.button--buy {
  text-transform: uppercase;
  color: #fff;
  background-color: #00acdc;
  border: 1px solid #00acdc;
  border-radius: 5px;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-decoration: none;
  display: flex;
  box-sizing: border-box;
}

.button--buy:hover {
  color: #00acdc;
  background-color: #fff;
}

// endregion

// #region stars

.stars {
  display: flex;
}

.stars__star {
  width: 16px;
  height: 16px;
  margin-right: 4px;
  background-image: url(../images/star.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.stars__star:last-child {
  margin-right: 0;
}

.stars--4 .stars__star:nth-child(-n + 4) {
  background-image: url(../images/star-active.svg);
}

// endregion
